@import "../styles/generic.scss";

.skill {
    padding-bottom: 50px;
    
    &-container{
        margin: 100px 0 10% 10%;
        display: flex;
    }

    &-content{
        display: flex;
        width: 50%;
    }

    &-pictures{
        width: 50%;
        padding: 0 10%;
        display: flex;
        flex-wrap: wrap;
        &Item{
            flex: 1 1 40%;
        }
    }

    &-item{
        line-height: 1.5;

        &Title{

        }
       
        &Hash{
            color: $red;
            font-style: italic;
        }

        &Subtitle{
            color: $red;
            margin: 0 0 10px 0;
            font-size: 14px;
        }

        &Brief{
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 25px;
            &:after{
                content: '';
                display: block;
                left: 0;
                position: absolute;
                top: 0;
                width: 5px;
                height: 100%;
                background-color: #ff3a4c;
            }
            
        }

        &Missions{
            margin-bottom: 45px;
            &List{
                margin-top: 0;
                padding-inline-start: 0;
                list-style: none;
                &Item{

                    &Icon{
                        color: $red;
                        margin-right: 10px;
                    }

                }
            }
            
        }

        &Clients{
            margin-bottom: 45px;
            
        }

        &Links{
            margin-bottom: 45px;
            
        } 
    }

    &-cta{
        margin-top: 70px;
    }

    &-navigation{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-inline-start: 0;
        margin-right: 10%;
        margin-left: 10%;

        &Link{
            display: flex;
            align-items: center;

        }

        &Item{
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            &.previous{
                align-items: flex-start;
            }

            &.next{
                align-items: flex-end;
            }
            
            &Title{
                transition: all 0.3s ease-in-out;
                margin:0;
                font-weight: $bold;
                &:hover{
                    color: $red;
                }
            }

            &Text{
                margin:0;
                color: $lightgray;
                font-weight: $bold;
                font-size: 14px;
            }
        }

        &Icon{
            background-color: $white;
            border-radius: 50%;
            border: solid 1px;
            padding: 10px;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: $red;
            }

            &.next{
                margin-left: 10px;
            }
            &.previous{
                margin-right: 10px;
            }
        }
    }
}