$white: #fff;
$american-silver: #cecece;
$background-gray: #f7f7fa;
$sambucus: rgba(13, 0, 47, 1);
$black-blueberry: #2d3047;
$coronation: #ececec;
$golden-apricot: #e0a458;
$greenway: #419d78;
$snowy-mountain: #f2efea;
$red: #f63a48;
$green: #00CC99;
$gold: #cab167;
$darkgray: #3e3e3e;
$gray: #7b7b7b;
$lightgray: #9999999c;
$purple: #0b102b;

$highlight: $golden-apricot;
$highlight-secondary: $greenway;

$background-light: $snowy-mountain;
$background-dark: $sambucus;
$background-medium: $black-blueberry;

$menu-active: $white;
$menu-inactive: $american-silver;

$body-light: $coronation;
$body-dark: $black-blueberry;

$navbar-height: 50px;
$footer-height: 500px;
$container-padding: 20px;
$section-padding: 80px;
$section-padding-mobile: 40px;
$container-width: 1200px;
$transition-duration: 250ms;

// font-weight variables
$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$xbold: 800;