@import "../../styles/generic.scss";

.breadcrumb{
    margin-top: 90px;
    padding: 45px 0 12px 10%;
    background-color: $background-gray;

    &-list{
        padding-inline-start: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $lightgray;
        font-size: 14px;

        &Link{
            transition: all 0.3s ease-in-out;
             font-weight: 800;

            &:hover{
                color: $red;
            }
            
        }

        &Item{
            font-weight: 500;
        }
    }

    &-separator{
        margin: 0 5px;
    }
}