@import "../styles/generic.scss";

.articles {
    display: flex;
    margin: 70px 0 0 15%;
    

    &-search{
        width: 35%;
        padding: 80px;
    }

    &-item{
        margin-bottom: 40px;
        background-color: $white;

        &Content{
            padding: 10px 35px;
        }

        &Image{
            overflow: hidden;
            max-height: 400px;
        }

        &Title{
            transition: all 0.3s ease-in-out;

            &:hover{
                color: $green;
            }
        }

        &Date{
            color: $gray;
            font-weight: $bold;

            &Icon{
                margin-right: 10px;
                color: $green;
                font-size: 20px;
            }
        }

        &Desc{
            color: $gray;
        }
    }
}