@import "../../styles/generic.scss";

.carousel{
    width: 100%;

    &Title{
        margin: 30px 10px;
        font-size: 16px;
        line-height: 1.5;
    }

    &Text{
        margin: 0 10px;
        font-size: 14px;
        color: $gray;
        line-height: 2;
    }

    &Img{
        margin: 0 10px;
        height: 170px;
    }

    .slick-dots {
        bottom: -80px;
        li{
             button{
                 &:before{
                    font-size: 15px;
                    // opacity: 1;
                    color: $lightgray;
                 }
             }
        }
    }
}